# Puerto del servidor
PORT=5000

# Host (0.0.0.0 para acceder desde la red)
HOST=0.0.0.0

# Modo (development / production)
NODE_ENV=production

# Contraseña para "Limpiar planilla" (cambiar en producción)
CORTE_PASSWORD=Finanzas$2026

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/planilla-pda?retryWrites=true&w=majority
MONGODB_DB=planilla-pda
